.delete-spots-modal-container{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.modal-button-delete-spots-yes{
    width: 300px;
    height: 60px


}

.modal-button-delete-spots-no{
    width: 300px;
    height: 60px;
    margin-top: 20px;
    background-color: darkgrey
}

.modal-button-delete-no:hover{
    background-color: rgb(136, 136, 136)
}

.delete-spots-modal-description  {
   padding-left: 20px;
}
