.signup-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    height: 800px;
    width: 400px;
}

input:hover{
    background-color: #F7F7F7;
    cursor: default;
    box-shadow: 0 2px 12px rgba(33, 33, 33, 0.2);

}

button{
  font-size: 16px;
  margin-top: 40px;
  height: 40px;
  width: 100px;
}

button:disabled{
   background-color: #ac8282;
   box-shadow: none;
}

button:disabled:hover{
  background-color: #ac8282;
  box-shadow: none;
  cursor: default;
}


.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  }

  .input-container input {

    margin-top: 40px;
  }

  .input-container p {
    color: red;

  }

  .errors {
    position: absolute;
    top: 75%;
    left: 0;
  }

  .signup-button  {
    padding-top: 70px;
  }
