.review-modal-container {
  display: flex;
  align-items: center;
  height: 550px;
  width: 500px;
  justify-content: center;
}

.post-review-container {
  cursor: default;
  text-align: center;

}

textarea {
  resize: none;
}

.review-textarea {
  height: 200px;
  width: 350px;
}

.star-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.star-rating button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
  height: 20px;
  width: 30px;
  font-size: 20px;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.submit-review {
  width: 350px;
  height: 50px;;
}

.stars-text {
  margin-bottom: -25px;
  margin-left: 10px;
}
