.create-spot-container{
    display: flex;
    justify-content: center;

    height: 100%;
    cursor: default;
}

.create-spot-form-container{
    width:20vw;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.create-spot-form {
    box-shadow: 0 2px 12px rgba(33, 33, 33, 0.2);
    margin: 10px;
    /* align-content: start */
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom:20px;
    position: relative;
  }

 input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 9vw !important;
    height: 30px;
  }

  .city-state-grid{
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  .city{
    grid-column: 1;
  }

  .state {
    grid-column: 2;
  }

  .lat-lng-grid {
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  .lat{
    grid-column: 1;
  }

  .lng{
    grid-column: 2;
  }

  .error-msg {
    color: red;
    position: absolute;
    top: 100%;
    left:0
  }

  .error-msg2 {
    color: red;
  }

  .description-input {
    width: 20vw !important;
    height: 20vh;
    display: block;
    /* margin-top: 30px;
    margin-bottom: 30px; */
  }


  .description-input::placeholder{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: right;
  }


  .create-spot-submit-button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .image-wrapper{
    margin-top: 20px;
    /* position: relative; */
  }

  .image-wrapper1{
    /* margin-top: 20px; */
    /* position: relative; */
  }


 .error-msg3 {
    color: red;
    position: absolute;
    top: 15%;
  }

  .error-msg4 {
    color: red;
    position: absolute;
    top: 37%;
  }
  .error-msg5 {
    color: red;
    position: absolute;
    top: 57%;
  }

  .error-msg6 {
    color: red;
    position: absolute;
    top: 77%;
  }

  .error-msg7 {
    color: red;
    position: absolute;
    top: 100%;
  } 
