
.modal{
    display: flex;
    align-items: center;
    height: 25vh;
    width: 10vw;
    justify-content: center;
    padding:40px;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-wrapper{
    position: relative;
    width: 100%;
}

.login-input:hover{
   background-color: #F7F7F7;
}

.login-error{
    color: red;
    position: absolute;

}


button:disabled{
    background-color: #ac8282;
    box-shadow: none;
 }

 button:disabled:hover{
   background-color: #ac8282;
   box-shadow: none;
   cursor: default;
 }

 .button-container button {


    height: 40x;
    width: 150px;
    justify-content: center;

 }
