.modal {
  height: 400px;
  width: 300px;
  padding: 30px;
}

.login-form {
  display: grid;
  grid-template-rows: repeat(5, auto); /* Each element takes up one row */
  gap: 10px; /* Gap between grid items */
}

.login-header  {
  grid-row: auto;
  justify-self: center;
}

.login-input {
    width: 200px !important;
  grid-row: auto;

}

.input-wrapper {
  justify-content: center;
  align-items: center;
  grid-row: auto;
  position: relative;
}

.login-input:hover {
  background-color: #f7f7f7;
}

.login-error {
  color: red;

  grid-row: auto;
  position: absolute;
  top: 100%;
  left: 0;

}

button:disabled {
  background-color: #ac8282;
  box-shadow: none;
}

button:disabled:hover {
  background-color: #ac8282;
  box-shadow: none;
  cursor: default;
}

.button-container button {
  grid-row: auto;
  height: 50px;
  width: 208px;
}

.button-container{
    justify-self: center;
    align-self: center;
    padding-left: 20px;
}
