.modal {
  height: 450px;
  width: 350px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {

  justify-self: center;
  position: relative;
}

.login-input {
  width: 200px !important;

}

.input-wrapper {
  justify-content: center;
  justify-self: center;
  align-items: center;

}

.login-input:hover {
  background-color: #f7f7f7;
}

.login-error  {
  color: red;

  position: absolute;
  top: 15%;
}

button:disabled {
  background-color: #ac8282;
  box-shadow: none;
}

button:disabled:hover {
  background-color: #ac8282;
  box-shadow: none;
  cursor: default;
}

.button-container button {
  height: 50px;
  width: 208px;
}

.button-container {
  justify-self: center;

  padding-left: 20px;
}
